html, body {
    line-height: 1;
    font-family: monospace;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#main {
    flex: 1;
}

aside.dark-theme {
    background-color: #363636;
    color: #fff;
}

.dark-theme {
    background-color: #1e1e1e;
    color: #fff;
}

#editor {
    bottom: -1em;
    padding: 0;
    width: 1000px;
    height: 1em;
    outline: none;
}

#container {
    font-family: monospace;
    position: relative;
    cursor: text;
    outline: none;
    min-height: 100vh;
}

#container pre {
    background: none;
    color: inherit;
    padding: 0 0;
    word-wrap: normal;

    -webkit-user-select: text; /* Safari */
    -ms-user-select: text; /* IE 10 and IE 11 */
    user-select: text; /* Standard syntax */
}

pre {
    display: contents;
    margin: 0 0;
    font-size: 1em;
}

#cursor {
    position: absolute;
    background: white;
    content: "";
    height: 1.1em;
    width: 2px;
    animation: cursor-blink 1.5s steps(2) infinite;

}

#cursor:active {
    animation: paused;
}

#cursor::after {
    position: absolute;
    background: white;
    content: "";
    height: 1.1em;
    width: 2px;
    animation: cursor-blink 1.5s steps(2) infinite;
}


@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}